
<ion-content [fullscreen]="true">

 <div class="menu "><ion-button class="btn-menu" fill="clear" shape="round" (click)="openMenu()">  <ion-icon  name="menu"></ion-icon></ion-button></div> 
<app-map></app-map>
<ion-fab style="box-shadow: none !important;" vertical="center" horizontal="end" slot="fixed" size="small">
  <ion-fab-button translucent="true" size="small" (click)="locate()">
    <ion-icon color="primary"  name="locate"></ion-icon>
  </ion-fab-button>
</ion-fab>
<app-bottom-sheet [data]="message" style="position: absolute; z-index: 14;"></app-bottom-sheet>
</ion-content>
