<ion-header color="primary">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <!--<ion-icon class="icon-back" name="arrow-back"></ion-icon>-->
        <ion-icon class="icon-back" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ayuda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none" >
    <ion-item lines="none" routerLink="/driver/ayuda/preguntasfrecuentes"  detail><ion-label>Preguntas Frecuentes (FAQ)</ion-label></ion-item>
    <ion-item lines="none" routerLink="/driver/ayuda/problemaosugerencia"  detail><ion-label> Reportar Problemas o Sugerencias</ion-label></ion-item>

  </ion-list>
</ion-content>
