<div class="detalles-conductor">
  <ion-grid>
    <ion-row class="driver-info" *ngIf="tiempo!=undefined && rol=='conductor' ">
      <ion-col>
        <h3 style="margin-top: 0px; margin-right: 30px;"> El conductor llegará en aproximadamente {{tiempo}} minutos
        </h3>
      </ion-col>
    </ion-row>
    <ion-row class="driver-info">
      <!-- Lado izquierdo: Foto y Nombre del Conductor -->
      <ion-col size="3" class="left">
        <ion-avatar class="driver-photo">
          <img [src]="profile.foto" alt="Foto de Perfil" />
        </ion-avatar>

      </ion-col>

      <!-- Lado derecho: Puntos de salida y destino -->
      <ion-col size="5" class="right">
        <div class="route-details" *ngIf="user?.rol=='usuario'">

          <div class="driver-placas">
            <h3>{{profile.placas}}</h3>
          </div>

          <div class="driver-vehiculo">
            <p>{{profile.modelo}}, {{profile.color}}</p>
          </div>

          <div class="driver-name">
            <p style="margin-bottom: 1px;">{{ profile.nombre }} {{profile.apellido}}</p>
            <span style="margin-top: 0px;" *ngIf="profile?.rating"> <ion-icon style="color: rgb(255, 217, 0);"
                name="star"></ion-icon>{{profile.rating}} ({{profile?.total_viajes}})</span>

          </div>

        </div>
        <div class="route-details" *ngIf="user?.rol=='conductor'">

          <div class="driver-name">
            <p style="margin-bottom: 1px;">{{ profile.nombre }} {{profile.apellido}}</p>
            <span style="margin-top: 0px;" *ngIf="profile?.rating"> <ion-icon style="color: rgb(255, 217, 0);"
                name="star"></ion-icon>{{profile.rating}} ({{profile?.total_viajes}}) </span>

          </div>

        </div>

      </ion-col>
      <ion-col size="4" class="right" style="text-align: center;">
        <!--  <p class="precio">Q.{{coste}}</p> -->
        <ion-button (click)="makeCall(profile.telefono)" color="danger" class="btn-seguridad">
          <ion-icon slot="icon-only" name="call" class="custom-icon"></ion-icon>
        </ion-button>
        <ion-button (click)="openChatModal()" color="success" class="btn-sms">
          <ion-icon slot="icon-only" name="chatbubble-ellipses" style="color: white !important;"
            class="custom-icon"></ion-icon>
        </ion-button>
      </ion-col>


    </ion-row>

    <ion-row *ngIf="rol=='user'">
      <ion-col size="6" style="text-align: center;">
        <ion-button (click)="openNavigator()" color="warning" style="border-radius: 10px; color:white !important"
          expand="block">Navegar</ion-button>

      </ion-col>
      <ion-col size="6">
        <ion-button [disabled]=" btnLlegue" (click)="updateEstadoViaje('Conductor Llego a Salida', idConductor, idViaje)" color="success"
          style="color:white; border-radius: 10px;" expand="block">¡Ya llegue!</ion-button>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="estado_viaje == 'Conductor Llego a Salida' && user?.rol=='usuario'">
      <ion-col size="12">
        <div class="alerta-conductor">
          <p class="alert-message">Conductor llego. No te tardes demasiado. </p>
          <ion-button (click)="atenderNoti()" shape="round" class="alert-btn-action">Ok, en camino</ion-button>
        </div>


      </ion-col>
    </ion-row>

  </ion-grid>
</div>


<div class="detalles-precio">
  <h5>Costo Viaje</h5>
  <p class="precio">Q.{{coste}}</p>
</div>
<div class="detalles-ruta">
  <h5>Tu viaje actual</h5>
  <div>
    <p><ion-icon class="start" name="radio-button-on"></ion-icon> <span> {{pointA}}</span> </p>
    <p><ion-icon class="end" name="radio-button-on"></ion-icon> <span> {{pointB}} </span></p>
  </div>

  <ion-row>
    <ion-col  *ngIf="user?.rol=='conductor'" size="6" [attr.size]="user?.rol=='conductor'? '6' : '12'">
      <ion-button *ngIf="user?.rol=='conductor'" color="danger" (click)="finalizar()" style="border-radius: 10px;"
        expand="block">Finalizar</ion-button>
    </ion-col>
    <ion-col size="6" [attr.size]="user?.rol=='conductor'? '6' : '12'">
      <ion-button (click)="openPopup()" style="border-radius: 10px;" expand="block">Cancelar</ion-button>
    </ion-col>
  </ion-row>

</div>


<app-popupcancelar [isOpen]="isPopupOpen" [title]="'Elige una opción'" [options]="options" (onClose)="handleClose()"
  (onSave)="handleSave($event)"></app-popupcancelar>