<ion-header>
  <ion-toolbar>
    <ion-title>Datos Bancarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon color="white" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p><b>Banco:</b> Banco Promerica</p>
  <p><b>Titular:</b> PLIISS TECHNOLOGY BUSINESSES</p>
  <p><b>Tipo:</b> Monetaria</p>
  <p><b>Moneda:</b> Quetzales</p>
  <p><b>No.de Cuenta:</b> 12335010221476</p>
</ion-content>
