

<ion-content [fullscreen]="true" >

  <app-map-routing [idSoli]="solicitud.id" [origin]="{ lat: solicitud.start_lat, lng:solicitud.start_lng}"
  [destination]="{ lat:solicitud.end_lat, lng: solicitud.end_lng}"
  [waypoints]="[]"
  [estado_viaje]="solicitud.estado_viaje"
  [idConductor]="idConductor" *ngIf="idConductor"  
    class="mapa-viaje"    [style.top]="'0px'"
    [style.bottom]="(sheetHeight - 20) + 'px'"
    ></app-map-routing> 


 <app-viaje-sheet class="viaje-sheet"  (sheetHeightChange)="actualizarAlturaMapa($event)"
 >

 <app-user-driver *ngIf="idConductor" 
 [idViaje]="solicitud.id" 
 [estado_viaje]="solicitud.estado_viaje"
 [rol]="'conductor'"
 [idUser]="user.idUser" 
 [idConductor]="idConductor" 
 [pointA]="solicitud.start_direction"
 [pointB]="solicitud.end_direction"
 [coste]="solicitud.costo"
 class="user-driver"></app-user-driver> 

</app-viaje-sheet>

</ion-content>
