<ion-header class="hidden"></ion-header>

<ion-content class="offline-container">

  <div class="contenedor">
    <div class="centrado">
      <svg width="300" height="250" viewBox="0 0 24 24" fill="none" 
      xmlns="http://www.w3.org/2000/svg">
      <path d="M3 5h18M3 10h18M3 15h10M3 20h5" stroke="#007bff" 
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <circle cx="18" cy="18" r="4" stroke="red" stroke-width="2"/>
      <path d="M20 20l-4-4" stroke="red" stroke-width="2" stroke-linecap="round"/>
    </svg>
    <h2>¡Oops! Sin conexión</h2>
    <p>Parece que has perdido la conexión a internet o el servidor no responde.  
      Verifica tu conexión e intenta nuevamente.</p>
      <button (click)="reintentarConexion()">  
        <ion-icon name="refresh-outline"></ion-icon> Reintentar  
      </button>
    </div>
  </div>
  <!--<div class="content" >

    <svg width="300" height="250" viewBox="0 0 24 24" fill="none" 
    xmlns="http://www.w3.org/2000/svg">
    <path d="M3 5h18M3 10h18M3 15h10M3 20h5" stroke="#007bff" 
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="18" cy="18" r="4" stroke="red" stroke-width="2"/>
    <path d="M20 20l-4-4" stroke="red" stroke-width="2" stroke-linecap="round"/>
  </svg>
  

    <h2>¡Oops! Sin conexión</h2>
    <p>Parece que has perdido la conexión a internet o el servidor no responde.  
       Verifica tu conexión e intenta nuevamente.</p>

    <button (click)="reintentarConexion()">  
      <ion-icon name="refresh-outline"></ion-icon> Reintentar  
    </button>
  </div> -->
</ion-content>
