.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-avatar {
    width: 125px !important; /* Ancho del avatar */
    height: 125px !important; /* Altura del avatar */
    border: 5px solid white;
    background: white;
  }

  .avatar-container {
    position: relative;
    display: inline-block;
  }


  .camera-button {
    margin-right: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 1em;
    background-color: orangered;
    border-radius: 50%;
    color: white; /* Cambia el color según el diseño */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
  }
  