<div class="center-item ">
    <div class="avatar-container">
      <ion-avatar slot="start" class="custom-avatar"  (click)="presentActionSheet()">
        <img
          [src]="imageBase64 != null ? imageBase64: 'https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg'" />
      </ion-avatar>
     <!-- <div *ngIf="!isFoto; else checkmark" class="camera-button">
        <ion-icon name="camera"></ion-icon>
      </div>
      <ng-template #checkmark>
        <div class="checkmark-button" (click)="updateFoto()">
          <ion-icon name="checkmark-circle"></ion-icon>
        </div>
      </ng-template>  -->
    </div>

</div>