.centered-card {
    --border-radius: 16px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Ajusta el tamaño según tus necesidades */
  }

  .outlined-input {
    --border-width: 1px;
  --border-style: solid;
  --border-color: var(--ion-color-medium); /* Cambia el color si lo deseas */
  --border-radius: 8px; /* Ajusta el radio del borde según el diseño deseado */
  --background: transparent; /* Asegúrate de que el fondo sea transparente */
  padding: 10px; /* Quitar padding interno */
  }

  .outlined-input ion-input {
    padding: 16px; /* Ajusta el padding del input */
  }

  .ion-margin-top{
    --border-radius: 10px !important;
  }

  .custom-alert .alert-title {
    text-align: center;
    font-weight: bold; /* Opcional: dar estilo al título */
  }
  
  .custom-alert .alert-sub-title {
    text-align: center;
  }