ion-item{
    font-size: 15pt;
}
    
  ion-icon {
    margin-top: -10px;
    font-size: 28px;
  }



  .balance-container {
    margin-top: 20px;
  }
  
  .balance {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .currency-symbol {
    font-size: 1.5rem;
    margin-right: 8px;
  }
  
  .amount {
    font-size: 2rem;
  }
  
  ion-card-header {
    background-color: #f4f4f4;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  .commission-details {
    font-size: 1rem;
    color: #666;
  }
  
  ion-badge {
    font-size: 1rem;
  }
  
  ion-list {
    padding: 0;
  }
  
  
  